extends template/layout

block variables
  -var title = 'Главная'
  -var pageClass = 'page_main'

block content
  main.main
    h1 Main
    include includes/index/banner
    h2='list'
    ul.items
      li.items__t
      li.items__t
      li.items__t
    hr
    //- и другие блоки
